In [1]:
import matplotlib as plt
import numpy as np
import pandas as pd
import datetime as dt
import re

# Archivo central para estimación de freq, Actuaría

In [2]:
ExpAct_17_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2017_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_17_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2017_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_18_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2018_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_18_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2018_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_19_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2019_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_19_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2019_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_20_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2020_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_20_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2020_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_21_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2021_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_21_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2021_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
ExpAct_22_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Act_DB\IngUsuExp_2022_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)

In [3]:
a1, a2, a3, a4, a5, a6 = ExpAct_17_1['Mes'].count(), ExpAct_17_2['Mes'].count(), ExpAct_18_1['Mes'].count(), ExpAct_18_2['Mes'].count(), ExpAct_19_1['Mes'].count(), ExpAct_19_2['Mes'].count(),
a1, a2, a3, a4, a5, a6

(552107, 560980, 564525, 566915, 1031832, 93541)

In [4]:
a7, a8, a9, a10, a11 = ExpAct_20_1['Mes'].count(), ExpAct_20_2['Mes'].count(), ExpAct_21_1['Mes'].count(), ExpAct_21_2['Mes'].count(), ExpAct_22_1['Mes'].count()
a7, a8, a9, a10, a11

(1029737, 93542, 1031384, 94425, 844738)

In [5]:
ExpAct_22_1.dtypes

Anio                    int64
Mes                     int64
AnioIng                 int64
MesIng                  int64
numerocontrato          int64
CarnetUsuario           int64
Parentesco             object
Edad                    int64
Sexo                   object
GrupoEtareo            object
TipoContrato           object
nombreplan             object
CodMatriz               int64
ValorPrima              int64
ValorPos                int64
ValorNotas              int64
ValorAdicional          int64
ValorDtoPtoPago         int64
VrIngConDtoPtoPago      int64
Tipo                   object
ciudad                 object
Tarifa                 object
VrIngSinDtoPtoPago      int64
Participacion         float64
dtype: object

In [6]:
ExpAct_Total = pd.concat([ExpAct_17_1, ExpAct_17_2, ExpAct_18_1, ExpAct_18_2, ExpAct_19_1, ExpAct_19_2, ExpAct_20_1, ExpAct_20_2, ExpAct_21_1, ExpAct_21_2, ExpAct_22_1],
                         axis = 0, ignore_index = False, keys = None, sort = False, copy = True)
ExpAct_Total['MesIng'].count()

6463726

In [7]:
ExpAct_Total

,Anio,Mes,AnioIng,MesIng,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,GrupoEtareo,...,ValorPos,ValorNotas,ValorAdicional,ValorDtoPtoPago,VrIngConDtoPtoPago,Tipo,ciudad,Tarifa,VrIngSinDtoPtoPago,Participacion
0,2017,1,2017,1,307,30701,CT,62,M,i. 60 - 64 Años,...,0,0,0,0,105139,Mes,BOGOTA,(3)Tres usuarios,105139,0
1,2017,1,2017,1,307,30702,CO,57,F,h. 55 - 59 Años,...,0,0,0,0,105139,Mes,BOGOTA,(3)Tres usuarios,105139,0
2,2017,1,2017,1,307,30703,HI,26,F,e. 19 - 44 Años,...,0,0,0,0,105139,Mes,BOGOTA,(3)Tres usuarios,105139,0
3,2017,1,2017,1,307,30706,OH,22,F,e. 19 - 44 Años,...,0,0,0,0,87321,Mes,BOGOTA,(4)Otro menor o igual a 30,87321,0
4,2017,1,2017,1,329,32901,CT,51,F,g. 50 - 54 Años,...,-12000,0,0,0,74100,Mes,BOGOTA,(2)Dos usuarios,74100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844733,2022,9,2022,9,349786,34978604,HI,6,F,c. 5 - 14 Años,...,0,0,0,0,140928,Mes,IBAGUE,(3)DE 5 A 14 AÑOS,140928,0.23267
844734,2022,9,2022,9,34979,3497901,CO,56,F,h. 55 - 59 Años,...,0,0,0,0,138798,Mes,MEDELLIN,(3)Tres usuarios,138798,0.33333
844735,2022,9,2022,9,34979,3497902,HI,22,M,e. 19 - 44 Años,...,0,0,0,0,138798,Mes,MEDELLIN,(3)Tres usuarios,138798,0.33333
844736,2022,9,2022,9,34979,3497903,CT,55,M,h. 55 - 59 Años,...,0,0,0,0,138798,Mes,MEDELLIN,(3)Tres usuarios,138798,0.33333
844737,2022,9,2022,9,349792,34979201,HI,39,F,e. 19 - 44 Años,...,-3999,7233,0,0,107699,Mes,BOGOTA,(3)Tres usuarios,107699,0.33333

In [8]:
df_ExpAct = pd.DataFrame(ExpAct_Total)

In [9]:
del [[ExpAct_17_1, ExpAct_17_2, ExpAct_18_1, ExpAct_18_2, ExpAct_19_1, ExpAct_19_2, ExpAct_20_1, ExpAct_20_2, ExpAct_21_1, ExpAct_21_2, ExpAct_22_1, ExpAct_Total]]

In [10]:
df_ExpAct.describe()

,Anio,Mes,AnioIng,MesIng,numerocontrato,CarnetUsuario,Edad,CodMatriz,ValorPrima,ValorPos,ValorNotas,ValorAdicional,ValorDtoPtoPago,VrIngConDtoPtoPago,VrIngSinDtoPtoPago
count,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,5.363188e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06,6.463726e+06
mean,2.019394e+03,6.311164e+00,2.019395e+03,6.310651e+00,3.201067e+05,3.188778e+07,3.699240e+01,5.845480e+02,2.306929e+05,-1.057173e+03,-7.132791e+02,-2.160561e+01,-7.362224e+02,2.272543e+05,2.279906e+05
std,1.659747e+00,3.390652e+00,1.659735e+00,3.390298e+00,1.198021e+05,1.210444e+07,2.169833e+01,3.544594e+02,2.111099e+05,2.902547e+03,2.947953e+04,8.347733e+04,1.168024e+04,2.082779e+05,2.082248e+05
min,2.012000e+03,1.000000e+00,2.017000e+03,1.000000e+00,3.070000e+02,0.000000e+00,0.000000e+00,0.000000e+00,-2.438150e+07,-1.592000e+05,-1.091947e+07,-3.886987e+06,-1.043845e+06,-2.415750e+07,-2.415750e+07
25%,2.018000e+03,3.000000e+00,2.018000e+03,3.000000e+00,3.169062e+05,3.162950e+07,2.000000e+01,3.390000e+02,1.361630e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.319620e+05,1.326770e+05
50%,2.019000e+03,6.000000e+00,2.019000e+03,6.000000e+00,3.616160e+05,3.612040e+07,3.700000e+01,6.140000e+02,1.764030e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.744840e+05,1.747000e+05
75%,2.021000e+03,9.000000e+00,2.021000e+03,9.000000e+00,3.957450e+05,3.955290e+07,5.400000e+01,6.550000e+02,2.467000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.446790e+05,2.458120e+05
max,2.022000e+03,1.200000e+01,2.022000e+03,1.200000e+01,4.513590e+05,4.513590e+07,1.070000e+02,1.522000e+03,1.357200e+07,6.000000e+05,4.305024e+06,1.985760e+07,1.761968e+06,8.688600e+06,8.688600e+06

In [11]:
df_ExpAct['Periodo'] = (df_ExpAct['AnioIng'] * 100 + df_ExpAct['MesIng']).astype(float)

In [12]:
df_ExpAct['Premium'] = (df_ExpAct['ValorPrima']/1000000).astype(float)
df_ExpAct['VrPOS'] = (df_ExpAct['ValorPos']/1000000).astype(float)
df_ExpAct['VrNC'] = (df_ExpAct['ValorNotas']/1000000).astype(float)
df_ExpAct['VrAdd'] = (df_ExpAct['ValorAdicional']/1000000).astype(float)
df_ExpAct['DtoPtoPag'] = (df_ExpAct['ValorDtoPtoPago']/1000000).astype(float)
df_ExpAct['P_NetPtoPag'] = (df_ExpAct['VrIngConDtoPtoPago']/1000000).astype(float)
df_ExpAct['P_GrossPtoPag'] = (df_ExpAct['VrIngSinDtoPtoPago']/1000000).astype(float)

In [13]:
df_ExpAct['Parentesco'] = df_ExpAct['Parentesco'].str.strip()
df_ExpAct['Sexo'] = df_ExpAct['Sexo'].str.strip()
df_ExpAct['TipoContrato'] = df_ExpAct['TipoContrato'].str.strip()
df_ExpAct['nombreplan'] = df_ExpAct['nombreplan'].str.strip()
df_ExpAct['Tipo'] = df_ExpAct['Tipo'].str.strip()
df_ExpAct['ciudad'] = df_ExpAct['ciudad'].str.strip()

In [14]:
df_ExpAct['Parentesco'] = df_ExpAct['Parentesco'].fillna('0')
df_ExpAct['Edad'] = df_ExpAct['Edad'].fillna(9999)
df_ExpAct['Sexo'] = df_ExpAct['Sexo'].fillna('0')
df_ExpAct['TipoContrato'] = df_ExpAct['TipoContrato'].fillna('0')
df_ExpAct['nombreplan'] = df_ExpAct['nombreplan'].fillna('0')
df_ExpAct['CodMatriz'] = df_ExpAct['CodMatriz'].fillna(9999)
df_ExpAct['Tipo'] = df_ExpAct['Tipo'].fillna('0')
df_ExpAct['ciudad'] = df_ExpAct['ciudad'].fillna('0')

In [15]:
df_ExpAct['P_NetPtoPag'].sum()

1468909.763551001

In [16]:
FecAnalysis = pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Work\FecPerAnalysis.csv', index_col = False, encoding='latin-1', sep = ';')

In [17]:
df_FecAnalysis = pd.DataFrame(FecAnalysis)

In [18]:
df_ExpAct = pd.merge(left = df_ExpAct, right = df_FecAnalysis, how = 'left', left_on = (['Periodo']), right_on = (['AñoMes_V']))

In [19]:
df_ExpAct['FecIni_Per'] = pd.to_datetime(df_ExpAct['FecIni_Per'], errors='coerce', format = ('%d/%m/%Y'))
df_ExpAct['FecFin_Per'] = pd.to_datetime(df_ExpAct['FecFin_Per'], errors='coerce', format = ('%d/%m/%Y'))

In [20]:
df_ExpAct_Agg = pd.DataFrame(df_ExpAct.groupby(['Periodo', 'FecIni_Per', 'FecFin_Per', 'numerocontrato', 'CarnetUsuario', 'Parentesco',
                                                'Edad', 'Sexo', 'TipoContrato', 'nombreplan', 'CodMatriz',
                                                'ciudad']).agg({'Premium':sum, 'P_NetPtoPag':sum, 'P_GrossPtoPag': sum}).astype(float).reset_index())
df_ExpAct_Agg

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,CodMatriz,ciudad,Premium,P_NetPtoPag,P_GrossPtoPag
0,201701.0,2017-01-01,2017-01-31,307,30701,CT,62,M,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139
1,201701.0,2017-01-01,2017-01-31,307,30702,CO,57,F,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139
2,201701.0,2017-01-01,2017-01-31,307,30703,HI,26,F,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139
3,201701.0,2017-01-01,2017-01-31,307,30706,OH,22,F,F,Cafe Excelso,9999.0,BOGOTA,0.087321,0.087321,0.087321
4,201701.0,2017-01-01,2017-01-31,329,32901,CT,51,F,C,Cafe Excelso,3.0,BOGOTA,0.086100,0.074100,0.074100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463721,202209.0,2022-09-01,2022-09-30,451359,45135901,OT,44,M,A,Celeste Plus,714.0,BOGOTA,0.186924,0.186924,0.186924
6463722,202209.0,2022-09-01,2022-09-30,451359,45135902,OT,32,F,A,Celeste Plus,714.0,BOGOTA,0.200315,0.200315,0.200315
6463723,202209.0,2022-09-01,2022-09-30,451359,45135903,OT,10,F,A,Celeste Plus,714.0,BOGOTA,0.157268,0.157268,0.157268
6463724,202209.0,2022-09-01,2022-09-30,451359,45135904,OT,19,M,A,Celeste Plus,714.0,BOGOTA,0.186924,0.186924,0.186924
6463725,202209.0,2022-09-01,2022-09-30,451359,45135905,OT,1,M,A,Celeste Plus,714.0,BOGOTA,0.188958,0.188958,0.188958

In [21]:
df_ExpAct_Agg.dtypes

Periodo                  float64
FecIni_Per        datetime64[ns]
FecFin_Per        datetime64[ns]
numerocontrato             int64
CarnetUsuario              int64
Parentesco                object
Edad                       int64
Sexo                      object
TipoContrato              object
nombreplan                object
CodMatriz                float64
ciudad                    object
Premium                  float64
P_NetPtoPag              float64
P_GrossPtoPag            float64
dtype: object

In [22]:
del [[df_ExpAct]]

In [23]:
df_ExpAct_Agg.loc[df_ExpAct_Agg['Premium'] <= 0, 'Conteo'] = 0
df_ExpAct_Agg.loc[df_ExpAct_Agg['Premium'] > 0, 'Conteo'] = 1

In [24]:
# Estados apriori 
conditions = [
    (df_ExpAct_Agg['Premium'] < 0),
    (df_ExpAct_Agg['Premium'] == 0),
    (df_ExpAct_Agg['Premium'] > 0)
]
values = ['Cancel', 'Move_w/oP', 'Inforce']
df_ExpAct_Agg['TypePaid'] = np.select(conditions, values)
df_ExpAct_Agg.head()

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,CodMatriz,ciudad,Premium,P_NetPtoPag,P_GrossPtoPag,Conteo,TypePaid
0,201701.0,2017-01-01,2017-01-31,307,30701,CT,62,M,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139,1.0,Inforce
1,201701.0,2017-01-01,2017-01-31,307,30702,CO,57,F,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139,1.0,Inforce
2,201701.0,2017-01-01,2017-01-31,307,30703,HI,26,F,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139,1.0,Inforce
3,201701.0,2017-01-01,2017-01-31,307,30706,OH,22,F,F,Cafe Excelso,9999.0,BOGOTA,0.087321,0.087321,0.087321,1.0,Inforce
4,201701.0,2017-01-01,2017-01-31,329,32901,CT,51,F,C,Cafe Excelso,3.0,BOGOTA,0.086100,0.074100,0.074100,1.0,Inforce

In [25]:
df_ExpAct_Agg['Periodo_1'] = df_ExpAct_Agg['Periodo'].apply(lambda x: (x - 89) if (x % 100) == 1 else (x - 1))
df_ExpAct_Agg.head()

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,CodMatriz,ciudad,Premium,P_NetPtoPag,P_GrossPtoPag,Conteo,TypePaid,Periodo_1
0,201701.0,2017-01-01,2017-01-31,307,30701,CT,62,M,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139,1.0,Inforce,201612.0
1,201701.0,2017-01-01,2017-01-31,307,30702,CO,57,F,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139,1.0,Inforce,201612.0
2,201701.0,2017-01-01,2017-01-31,307,30703,HI,26,F,F,Cafe Excelso,9999.0,BOGOTA,0.105139,0.105139,0.105139,1.0,Inforce,201612.0
3,201701.0,2017-01-01,2017-01-31,307,30706,OH,22,F,F,Cafe Excelso,9999.0,BOGOTA,0.087321,0.087321,0.087321,1.0,Inforce,201612.0
4,201701.0,2017-01-01,2017-01-31,329,32901,CT,51,F,C,Cafe Excelso,3.0,BOGOTA,0.086100,0.074100,0.074100,1.0,Inforce,201612.0

# Archivo que contiene las fechas de vigencia, área Técnica

In [26]:
Exp_17_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2017_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_17_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2017_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_18_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2018_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_18_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2018_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_19_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2019_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_19_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2019_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_20_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2020_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_20_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2020_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_21_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2021_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_21_2= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2021_2.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)
Exp_22_1= pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\ATec_DB\Usuarios_2022_1.csv', index_col = False, encoding='latin-1', sep = ';', low_memory = False)

In [27]:
a12, a13, a14, a15, a16, a17 = Exp_17_1['MES'].count(), Exp_17_2['MES'].count(), Exp_18_1['MES'].count(), Exp_18_2['MES'].count(), Exp_19_1['MES'].count(), Exp_19_2['MES'].count()
a12, a13, a14, a15, a16, a17

(1006973, 92905, 1024068, 93402, 1018799, 92441)

In [28]:
a18, a19, a20, a21, a22 = Exp_20_1['MES'].count(), Exp_20_2['MES'].count(), Exp_21_1['MES'].count(), Exp_21_2['MES'].count(), Exp_22_1['MES'].count()
a18, a19, a20, a21, a22

(1014790, 92116, 919567, 184856, 827380)

In [29]:
Exp_22_1.dtypes

AÑO                          int64
MES                         object
CIUDAD SERVICIO              int64
Ciudad                      object
COD CONCEPTO CONTRATO        int64
COD ESTADO BENEFICIARIO     object
CODPLAN                     object
Nombre Plan                 object
NUMERO CONTRATO              int64
TIPO CONTRATO               object
CODMATRIZ                  float64
NUM ALIANZA                float64
NUMERO BENEFICIA             int64
Carnet                       int64
TIPO ID                     object
IDENTIFICACION              object
NOMBRE 1                    object
NOMBRE 2                    object
APELLIDO 1                  object
APELLIDO 2                  object
COD PARENT                  object
FECHA NACIMIENTO            object
EDAD                         int64
SEXO                        object
COD EPS                     object
NOMBRE EPS                  object
Fecha afiliación            object
FECHA INI VIGENCIA          object
FECHA FIN VIGENCIA          object
dtype: object

In [30]:
Exp_Total = pd.concat([Exp_17_1, Exp_17_2, Exp_18_1, Exp_18_2, Exp_19_1, Exp_19_2, Exp_20_1, Exp_20_2, Exp_21_1, Exp_21_2, Exp_22_1], axis = 0, ignore_index = False,
                      keys = None, sort = False, copy = True)
Exp_Total['Carnet'].count()

6367298

In [31]:
Exp_Total

,AÑO,MES,CIUDAD SERVICIO,Ciudad,COD CONCEPTO CONTRATO,COD ESTADO BENEFICIARIO,CODPLAN,Nombre Plan,NUMERO CONTRATO,TIPO CONTRATO,...,APELLIDO 2,COD PARENT,FECHA NACIMIENTO,EDAD,SEXO,COD EPS,NOMBRE EPS,Fecha afiliación,FECHA INI VIGENCIA,FECHA FIN VIGENCIA
0,2017.0,Enero,1.0,BOGOTA,70.0,AC,R,Café Excelso,329.0,C,...,SIERRA,CT,28/07/1965,51,F,EPS003,CAFESALUD EPS S.A.,1/01/1992,1/01/2017,31/12/2017
1,2017.0,Enero,1.0,BOGOTA,70.0,AC,R,Café Excelso,329.0,C,...,ROCHA,HI,7/01/1999,18,F,EPS003,CAFESALUD EPS S.A.,1/02/1999,1/01/2017,31/12/2017
2,2017.0,Enero,1.0,BOGOTA,81.0,AC,S,Cereza Excelso Plus,942.0,C,...,CARMONA,CT,24/11/1961,55,F,EPS003,CAFESALUD EPS S.A.,1/10/1997,1/01/2017,31/12/2017
3,2017.0,Enero,1.0,BOGOTA,81.0,AC,S,Cereza Excelso Plus,942.0,C,...,MARTINEZ,CO,5/11/1962,54,M,EPS003,CAFESALUD EPS S.A.,1/10/1997,1/01/2017,31/12/2017
4,2017.0,Enero,1.0,BOGOTA,81.0,AC,S,Cereza Excelso Plus,942.0,C,...,BARAJAS,HI,14/11/1992,24,M,EPS003,CAFESALUD EPS S.A.,1/10/1997,1/01/2017,31/12/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827375,2022.0,Septiembre,1.0,BOGOTA,80.0,AC,SC,Celeste Plus,451359.0,A,...,QUINTERO,OT,3/06/1978,44,M,EPS002,SALUD TOTAL EPS S.A.,30/09/2022,30/09/2022,29/09/2023
827376,2022.0,Septiembre,1.0,BOGOTA,80.0,AC,SC,Celeste Plus,451359.0,A,...,JIMENEZ,OT,8/02/1990,32,F,EPS002,SALUD TOTAL EPS S.A.,30/09/2022,30/09/2022,29/09/2023
827377,2022.0,Septiembre,1.0,BOGOTA,80.0,AC,SC,Celeste Plus,451359.0,A,...,CARDOZO,OT,10/07/2012,10,F,EPS002,SALUD TOTAL EPS S.A.,30/09/2022,30/09/2022,29/09/2023
827378,2022.0,Septiembre,1.0,BOGOTA,80.0,AC,SC,Celeste Plus,451359.0,A,...,COTES,OT,2/07/2003,19,M,EPS002,SALUD TOTAL EPS S.A.,30/09/2022,30/09/2022,29/09/2023
827379,2022.0,Septiembre,1.0,BOGOTA,80.0,AC,SC,Celeste Plus,451359.0,A,...,CARDOZO,OT,23/02/2021,1,M,EPS002,SALUD TOTAL EPS S.A.,30/09/2022,30/09/2022,29/09/2023

In [32]:
df_Exp = pd.DataFrame(Exp_Total)

In [33]:
del [[Exp_17_1, Exp_17_2, Exp_18_1, Exp_18_2, Exp_19_1, Exp_19_2, Exp_20_1, Exp_20_2, Exp_21_1, Exp_21_2, Exp_22_1, Exp_Total]]

In [34]:
df_Exp['FECHA INI VIGENCIA'] = pd.to_datetime(df_Exp['FECHA INI VIGENCIA'], errors='coerce', format = ('%d/%m/%Y'))
df_Exp['FECHA FIN VIGENCIA'] = pd.to_datetime(df_Exp['FECHA FIN VIGENCIA'], errors='coerce', format = ('%d/%m/%Y'))
df_Exp['FECHA NACIMIENTO'] = pd.to_datetime(df_Exp['FECHA NACIMIENTO'], errors='coerce', format = ('%d/%m/%Y'))

In [35]:
df_Exp['COD PARENT'] = df_Exp['COD PARENT'].str.strip()
df_Exp['SEXO'] = df_Exp['SEXO'].str.strip()
df_Exp['Nombre Plan'] = df_Exp['Nombre Plan'].str.strip()
df_Exp['TIPO CONTRATO'] = df_Exp['TIPO CONTRATO'].str.strip()
df_Exp['Ciudad'] = df_Exp['Ciudad'].str.strip()

In [36]:
df_Exp['NUMERO CONTRATO'] = df_Exp['NUMERO CONTRATO'].fillna(98989898)
df_Exp['Carnet'] = df_Exp['Carnet'].fillna(98989898)
df_Exp['COD PARENT'] = df_Exp['COD PARENT'].fillna('0')
df_Exp['EDAD'] = df_Exp['EDAD'].fillna(9999)
df_Exp['SEXO'] = df_Exp['SEXO'].fillna('0')
df_Exp['TIPO CONTRATO'] = df_Exp['TIPO CONTRATO'].fillna('0')
df_Exp['Nombre Plan'] = df_Exp['Nombre Plan'].fillna('0')
df_Exp['CODMATRIZ'] = df_Exp['CODMATRIZ'].fillna(9999)
df_Exp['Ciudad'] = df_Exp['Ciudad'].fillna('0')
df_Exp['FECHA INI VIGENCIA'].fillna(value=pd.to_datetime('1/1/1900'), inplace=True)
df_Exp['FECHA FIN VIGENCIA'].fillna(value=pd.to_datetime('1/1/1900'), inplace=True)
df_Exp['FECHA NACIMIENTO'].fillna(value=pd.to_datetime('1/1/1900'), inplace=True)

In [37]:
Meses = pd.read_csv(r'D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Work\Meses.csv', index_col = False, encoding='latin-1', sep = ';')

In [38]:
df_Meses = pd.DataFrame(Meses)

In [39]:
df_Exp = pd.merge(left = df_Exp, right = df_Meses, how = 'left', left_on = (['MES']), right_on = (['Mes_L']))

In [40]:
df_Exp['AñoMes_Per'] = df_Exp['AÑO'] * 100 + df_Exp['Mes_N']

In [41]:
df_Exp['Conteo1'] = 1
df_Exp['Conteo1'].sum()

6367299

In [42]:
df_Exp_Agg = pd.DataFrame(df_Exp.groupby(['AñoMes_Per', 'NUMERO CONTRATO', 'Carnet', 'FECHA INI VIGENCIA',
                                          'FECHA FIN VIGENCIA']).agg({'Conteo1':sum}).astype(float).reset_index())
#'FecIni_Per', 'FecFin_Per', 
df_Exp_Agg.head()

,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1
0,201701.0,307.0,30701.0,2017-01-01,2017-12-31,1.0
1,201701.0,307.0,30702.0,2017-01-01,2017-12-31,1.0
2,201701.0,307.0,30703.0,2017-01-01,2017-12-31,1.0
3,201701.0,307.0,30706.0,2017-01-01,2017-12-31,1.0
4,201701.0,329.0,32901.0,2017-01-01,2017-12-31,1.0

In [43]:
df_Exp_Agg['Conteo1'].sum()

6367297.0

# Obtener el máximo de AñoMes_Per y fechas de vigencia de los que no cruzan

In [44]:
#df_Exp['Key_1'] = df_Exp['NUMERO CONTRATO'].astype(str) + "_" + df_Exp['Carnet'].astype(str)

In [45]:
#df_Exp1 = pd.DataFrame(df_Exp.groupby(['Key_1', 'AñoMes_Per', 'FECHA INI VIGENCIA', 'FECHA FIN VIGENCIA']).agg({'Conteo':sum}).astype(float).reset_index())
#df_Exp1.head()

In [46]:
#cols = ['AñoMes_Per', 'FECHA INI VIGENCIA', 'FECHA FIN VIGENCIA']
#df_Exp1[cols] = df_Exp1[cols].fillna(np.inf)  # replace NaN with largest value
#df_Exp1 = df_Exp1.groupby('Key_1', as_index=False)[cols].max()  # Get Max Per Group
#df_Exp1[cols] = df_Exp1[cols].replace(np.inf, np.nan)  # Return to NaN
#df_Exp1

In [47]:
#df_Exp1 = df_Exp1.reset_index()
#df_Exp1.to_csv('D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Results_202211\Exp_NAN_202209_NoCruxMax.txt', sep = ';', encoding = 'utf-8', index = False)

In [48]:
#del [[df_Exp]]

# Cruce para obtener las fechas de vigencia en el archivo central

In [49]:
df_ExpPreliminary = pd.merge(left = df_ExpAct_Agg, right = df_Exp_Agg, how = 'left', left_on = (['Periodo', 'numerocontrato', 'CarnetUsuario']),
                             right_on = (['AñoMes_Per', 'NUMERO CONTRATO', 'Carnet']))

In [50]:
df_ExpPreliminary

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,...,P_GrossPtoPag,Conteo,TypePaid,Periodo_1,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1
0,201701.0,2017-01-01,2017-01-31,307,30701,CT,62,M,F,Cafe Excelso,...,0.105139,1.0,Inforce,201612.0,201701.0,307.0,30701.0,2017-01-01,2017-12-31,1.0
1,201701.0,2017-01-01,2017-01-31,307,30702,CO,57,F,F,Cafe Excelso,...,0.105139,1.0,Inforce,201612.0,201701.0,307.0,30702.0,2017-01-01,2017-12-31,1.0
2,201701.0,2017-01-01,2017-01-31,307,30703,HI,26,F,F,Cafe Excelso,...,0.105139,1.0,Inforce,201612.0,201701.0,307.0,30703.0,2017-01-01,2017-12-31,1.0
3,201701.0,2017-01-01,2017-01-31,307,30706,OH,22,F,F,Cafe Excelso,...,0.087321,1.0,Inforce,201612.0,201701.0,307.0,30706.0,2017-01-01,2017-12-31,1.0
4,201701.0,2017-01-01,2017-01-31,329,32901,CT,51,F,C,Cafe Excelso,...,0.074100,1.0,Inforce,201612.0,201701.0,329.0,32901.0,2017-01-01,2017-12-31,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463721,202209.0,2022-09-01,2022-09-30,451359,45135901,OT,44,M,A,Celeste Plus,...,0.186924,1.0,Inforce,202208.0,202209.0,451359.0,45135901.0,2022-09-30,2023-09-29,1.0
6463722,202209.0,2022-09-01,2022-09-30,451359,45135902,OT,32,F,A,Celeste Plus,...,0.200315,1.0,Inforce,202208.0,202209.0,451359.0,45135902.0,2022-09-30,2023-09-29,1.0
6463723,202209.0,2022-09-01,2022-09-30,451359,45135903,OT,10,F,A,Celeste Plus,...,0.157268,1.0,Inforce,202208.0,202209.0,451359.0,45135903.0,2022-09-30,2023-09-29,1.0
6463724,202209.0,2022-09-01,2022-09-30,451359,45135904,OT,19,M,A,Celeste Plus,...,0.186924,1.0,Inforce,202208.0,202209.0,451359.0,45135904.0,2022-09-30,2023-09-29,1.0
6463725,202209.0,2022-09-01,2022-09-30,451359,45135905,OT,1,M,A,Celeste Plus,...,0.188958,1.0,Inforce,202208.0,202209.0,451359.0,45135905.0,2022-09-30,2023-09-29,1.0

In [51]:
df_ExpPreliminary['Periodo'].count()

6463726

In [52]:
df_ExpPreliminary['FECHA INI VIGENCIA'].isna().sum()

96977

In [53]:
df_1 = pd.DataFrame(df_ExpPreliminary[df_ExpPreliminary['FECHA INI VIGENCIA'].isna()])
df_1

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,...,P_GrossPtoPag,Conteo,TypePaid,Periodo_1,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1
5613,201701.0,2017-01-01,2017-01-31,55559,0,0,0,0,A,Cereza Excelso Plus,...,-1.499000,0.0,Cancel,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
7365,201701.0,2017-01-01,2017-01-31,65148,6514803,HI,34,F,A,Cafe Excelso,...,0.152970,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
7367,201701.0,2017-01-01,2017-01-31,65148,6514805,NI,1,F,A,Cafe Excelso,...,0.127047,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
8912,201701.0,2017-01-01,2017-01-31,70605,7060505,NY,28,M,F,Cereza Excelso Plus,...,0.131750,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
8930,201701.0,2017-01-01,2017-01-31,70653,7065301,CO,45,F,A,Cereza Excelso Plus,...,0.084305,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463678,202209.0,2022-09-01,2022-09-30,451329,45132901,CM,77,F,A,AMD Integral,...,0.046623,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
6463682,202209.0,2022-09-01,2022-09-30,451331,45133101,MA,85,F,A,AMD Integral,...,0.018527,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
6463684,202209.0,2022-09-01,2022-09-30,451333,45133301,MA,65,F,A,AMD Integral,...,0.048500,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
6463685,202209.0,2022-09-01,2022-09-30,451334,45133401,MA,67,F,A,AMD Integral,...,0.048500,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
6463720,202209.0,2022-09-01,2022-09-30,451358,45135801,MA,84,F,A,AMD Integral,...,0.048500,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN

In [54]:
df_1.drop(['AñoMes_Per', 'NUMERO CONTRATO', 'Carnet', 'FECHA INI VIGENCIA', 'FECHA FIN VIGENCIA', 'Conteo1'], axis=1, inplace=True)
df_1.head()

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,CodMatriz,ciudad,Premium,P_NetPtoPag,P_GrossPtoPag,Conteo,TypePaid,Periodo_1
5613,201701.0,2017-01-01,2017-01-31,55559,0,0,0,0,A,Cereza Excelso Plus,60.0,BOGOTA,-1.499000,-1.499000,-1.499000,0.0,Cancel,201612.0
7365,201701.0,2017-01-01,2017-01-31,65148,6514803,HI,34,F,A,Cafe Excelso,326.0,BOGOTA,0.152970,0.152970,0.152970,1.0,Inforce,201612.0
7367,201701.0,2017-01-01,2017-01-31,65148,6514805,NI,1,F,A,Cafe Excelso,326.0,BOGOTA,0.127047,0.127047,0.127047,1.0,Inforce,201612.0
8912,201701.0,2017-01-01,2017-01-31,70605,7060505,NY,28,M,F,Cereza Excelso Plus,9999.0,BOGOTA,0.131750,0.131750,0.131750,1.0,Inforce,201612.0
8930,201701.0,2017-01-01,2017-01-31,70653,7065301,CO,45,F,A,Cereza Excelso Plus,63.0,BOGOTA,0.084305,0.084305,0.084305,1.0,Inforce,201612.0

In [55]:
df_ExpFinal = pd.merge(left = df_1, right = df_Exp_Agg, how = 'left',
                       left_on = (['Periodo_1', 'numerocontrato', 'CarnetUsuario']),
                       right_on = (['AñoMes_Per', 'NUMERO CONTRATO', 'Carnet']))

In [56]:
df_ExpFinal

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,...,P_GrossPtoPag,Conteo,TypePaid,Periodo_1,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1
0,201701.0,2017-01-01,2017-01-31,55559,0,0,0,0,A,Cereza Excelso Plus,...,-1.499000,0.0,Cancel,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
1,201701.0,2017-01-01,2017-01-31,65148,6514803,HI,34,F,A,Cafe Excelso,...,0.152970,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
2,201701.0,2017-01-01,2017-01-31,65148,6514805,NI,1,F,A,Cafe Excelso,...,0.127047,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
3,201701.0,2017-01-01,2017-01-31,70605,7060505,NY,28,M,F,Cereza Excelso Plus,...,0.131750,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
4,201701.0,2017-01-01,2017-01-31,70653,7065301,CO,45,F,A,Cereza Excelso Plus,...,0.084305,1.0,Inforce,201612.0,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96972,202209.0,2022-09-01,2022-09-30,451329,45132901,CM,77,F,A,AMD Integral,...,0.046623,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
96973,202209.0,2022-09-01,2022-09-30,451331,45133101,MA,85,F,A,AMD Integral,...,0.018527,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
96974,202209.0,2022-09-01,2022-09-30,451333,45133301,MA,65,F,A,AMD Integral,...,0.048500,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
96975,202209.0,2022-09-01,2022-09-30,451334,45133401,MA,67,F,A,AMD Integral,...,0.048500,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN
96976,202209.0,2022-09-01,2022-09-30,451358,45135801,MA,84,F,A,AMD Integral,...,0.048500,1.0,Inforce,202208.0,NaN,NaN,NaN,NaT,NaT,NaN

In [57]:
df_ExpFinal['FECHA INI VIGENCIA'].isna().sum()

81526

In [73]:
df_ExpFinal = df_ExpFinal.reset_index()
df_ExpFinal.to_csv('D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Results_202211\Exp_PremNoCrux_202209_Valid.txt', sep = ';', encoding = 'utf-8', index = False)

# Se eliminan los registros sin coherencia en la identificación del carnet y de las fechas de inicio y fin de vigencia

In [58]:
df_ExpFinal = df_ExpFinal.dropna(subset=['FECHA INI VIGENCIA', 'FECHA FIN VIGENCIA'])
df_ExpFinal['Periodo'].count()

15451

In [59]:
df_ExpPreliminary = df_ExpPreliminary.dropna(subset=['FECHA INI VIGENCIA', 'FECHA FIN VIGENCIA'])
df_ExpPreliminary['Periodo'].count()

6366749

In [60]:
df_ExpT = pd.concat([df_ExpPreliminary, df_ExpFinal], axis = 0, ignore_index = False, keys = None, sort = False, copy = True)
df_ExpT['Periodo'].count()

6382200

In [61]:
df_Valid = df_ExpT.loc[((df_ExpT['TypePaid'] == 'Cancel') | (df_ExpT['TypePaid'] == 'Move_w/oP'))]
df_Valid

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,...,P_GrossPtoPag,Conteo,TypePaid,Periodo_1,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1
703,201701.0,2017-01-01,2017-01-31,14014,1401401,CM,81,F,C,Cereza Excelso Plus,...,0.0,0.0,Move_w/oP,201612.0,201701.0,14014.0,1401401.0,2016-01-01,2016-12-31,1.0
704,201701.0,2017-01-01,2017-01-31,14014,1401402,MA,84,M,C,Cereza Excelso Plus,...,0.0,0.0,Move_w/oP,201612.0,201701.0,14014.0,1401402.0,2016-01-01,2016-12-31,1.0
705,201701.0,2017-01-01,2017-01-31,14017,1401702,MA,78,F,C,Cafe Excelso,...,0.0,0.0,Move_w/oP,201612.0,201701.0,14017.0,1401702.0,2016-01-01,2016-12-31,1.0
706,201701.0,2017-01-01,2017-01-31,14017,1401704,OT,52,F,C,Cafe Excelso,...,0.0,0.0,Move_w/oP,201612.0,201701.0,14017.0,1401704.0,2016-01-01,2016-12-31,1.0
707,201701.0,2017-01-01,2017-01-31,14017,1401708,OT,41,F,C,Cafe Excelso,...,0.0,0.0,Move_w/oP,201612.0,201701.0,14017.0,1401708.0,2016-01-01,2016-12-31,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96654,202209.0,2022-09-01,2022-09-30,448208,44820801,CT,23,F,F,Azul Plus,...,0.0,0.0,Move_w/oP,202208.0,202208.0,448208.0,44820801.0,2022-06-30,2023-06-29,1.0
96661,202209.0,2022-09-01,2022-09-30,448223,44822301,CT,32,F,F,Cafe Express,...,0.0,0.0,Move_w/oP,202208.0,202208.0,448223.0,44822301.0,2022-06-30,2023-06-29,1.0
96665,202209.0,2022-09-01,2022-09-30,448264,44826401,CT,48,F,A,Cafe Excelso,...,0.0,0.0,Move_w/oP,202208.0,202208.0,448264.0,44826401.0,2022-05-31,2023-05-30,1.0
96666,202209.0,2022-09-01,2022-09-30,448265,44826501,HI,0,M,F,Cafe Express,...,0.0,0.0,Move_w/oP,202208.0,202208.0,448265.0,44826501.0,2022-06-30,2023-06-29,1.0
96702,202209.0,2022-09-01,2022-09-30,448802,44880201,HI,33,F,A,Celeste Plus,...,0.0,0.0,Move_w/oP,202208.0,202208.0,448802.0,44880201.0,2022-07-31,2023-07-30,1.0

In [62]:
#df_Valid = df_Valid.reset_index()
#df_Valid.to_csv('D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Results_202211\Exp_PremNeg_202209_Valid.txt', sep = ';', encoding = 'utf-8', index = False)

In [63]:
# Se valida

In [64]:
conditions = [
    (df_ExpT['FECHA INI VIGENCIA'] <= df_ExpT['FecIni_Per']) & (df_ExpT['FECHA FIN VIGENCIA'] >= df_ExpT['FecFin_Per']),
    (df_ExpT['FECHA INI VIGENCIA'] <= df_ExpT['FecIni_Per']) & (df_ExpT['FECHA FIN VIGENCIA'] >= df_ExpT['FecIni_Per']) & (df_ExpT['FECHA FIN VIGENCIA'] <= df_ExpT['FecFin_Per']),
    (df_ExpT['FECHA INI VIGENCIA'] >= df_ExpT['FecIni_Per']) & (df_ExpT['FECHA INI VIGENCIA'] <= df_ExpT['FecFin_Per']) & (df_ExpT['FECHA FIN VIGENCIA'] >= df_ExpT['FecFin_Per']),
    (df_ExpT['FECHA INI VIGENCIA'] >= df_ExpT['FecIni_Per']) & (df_ExpT['FECHA FIN VIGENCIA'] <= df_ExpT['FecFin_Per']),
    (df_ExpT['FECHA FIN VIGENCIA'] < df_ExpT['FecIni_Per']),
    (df_ExpT['FECHA INI VIGENCIA'] > df_ExpT['FecFin_Per'])
]
values = ['1', '2', '3', '4', '5', '6']
df_ExpT['Range_0'] = np.select(conditions, values)
df_ExpT.head()

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,...,Conteo,TypePaid,Periodo_1,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1,Range_0
0,201701.0,2017-01-01,2017-01-31,307,30701,CT,62,M,F,Cafe Excelso,...,1.0,Inforce,201612.0,201701.0,307.0,30701.0,2017-01-01,2017-12-31,1.0,1
1,201701.0,2017-01-01,2017-01-31,307,30702,CO,57,F,F,Cafe Excelso,...,1.0,Inforce,201612.0,201701.0,307.0,30702.0,2017-01-01,2017-12-31,1.0,1
2,201701.0,2017-01-01,2017-01-31,307,30703,HI,26,F,F,Cafe Excelso,...,1.0,Inforce,201612.0,201701.0,307.0,30703.0,2017-01-01,2017-12-31,1.0,1
3,201701.0,2017-01-01,2017-01-31,307,30706,OH,22,F,F,Cafe Excelso,...,1.0,Inforce,201612.0,201701.0,307.0,30706.0,2017-01-01,2017-12-31,1.0,1
4,201701.0,2017-01-01,2017-01-31,329,32901,CT,51,F,C,Cafe Excelso,...,1.0,Inforce,201612.0,201701.0,329.0,32901.0,2017-01-01,2017-12-31,1.0,1

In [65]:
def Exposure(df_ExpT):
    if (df_ExpT['Range_0'] == '1'):
        return abs((df_ExpT['FecFin_Per'] - df_ExpT['FecIni_Per']).days + 1) / 30.4375
    elif (df_ExpT['Range_0'] == '2'):
        return abs((df_ExpT['FECHA FIN VIGENCIA'] - df_ExpT['FecIni_Per']).days + 1) / 30.4375 
    elif (df_ExpT['Range_0'] == '3'):
        return abs((df_ExpT['FecFin_Per'] - df_ExpT['FECHA INI VIGENCIA']).days + 1) / 30.4375
    elif (df_ExpT['Range_0'] == '4'):
        return abs((df_ExpT['FECHA FIN VIGENCIA'] - df_ExpT['FECHA INI VIGENCIA']).days + 1) / 30.4375
    elif (df_ExpT['Range_0'] == '5'):
        return (0)
    elif (df_ExpT['Range_0'] == '6'):
        return (0)
df_ExpT['Exposure'] = df_ExpT.apply(Exposure, axis = 1)

In [66]:
df_ExpT

,Periodo,FecIni_Per,FecFin_Per,numerocontrato,CarnetUsuario,Parentesco,Edad,Sexo,TipoContrato,nombreplan,...,TypePaid,Periodo_1,AñoMes_Per,NUMERO CONTRATO,Carnet,FECHA INI VIGENCIA,FECHA FIN VIGENCIA,Conteo1,Range_0,Exposure
0,201701.0,2017-01-01,2017-01-31,307,30701,CT,62,M,F,Cafe Excelso,...,Inforce,201612.0,201701.0,307.0,30701.0,2017-01-01,2017-12-31,1.0,1,1.018480
1,201701.0,2017-01-01,2017-01-31,307,30702,CO,57,F,F,Cafe Excelso,...,Inforce,201612.0,201701.0,307.0,30702.0,2017-01-01,2017-12-31,1.0,1,1.018480
2,201701.0,2017-01-01,2017-01-31,307,30703,HI,26,F,F,Cafe Excelso,...,Inforce,201612.0,201701.0,307.0,30703.0,2017-01-01,2017-12-31,1.0,1,1.018480
3,201701.0,2017-01-01,2017-01-31,307,30706,OH,22,F,F,Cafe Excelso,...,Inforce,201612.0,201701.0,307.0,30706.0,2017-01-01,2017-12-31,1.0,1,1.018480
4,201701.0,2017-01-01,2017-01-31,329,32901,CT,51,F,C,Cafe Excelso,...,Inforce,201612.0,201701.0,329.0,32901.0,2017-01-01,2017-12-31,1.0,1,1.018480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96654,202209.0,2022-09-01,2022-09-30,448208,44820801,CT,23,F,F,Azul Plus,...,Move_w/oP,202208.0,202208.0,448208.0,44820801.0,2022-06-30,2023-06-29,1.0,1,0.985626
96661,202209.0,2022-09-01,2022-09-30,448223,44822301,CT,32,F,F,Cafe Express,...,Move_w/oP,202208.0,202208.0,448223.0,44822301.0,2022-06-30,2023-06-29,1.0,1,0.985626
96665,202209.0,2022-09-01,2022-09-30,448264,44826401,CT,48,F,A,Cafe Excelso,...,Move_w/oP,202208.0,202208.0,448264.0,44826401.0,2022-05-31,2023-05-30,1.0,1,0.985626
96666,202209.0,2022-09-01,2022-09-30,448265,44826501,HI,0,M,F,Cafe Express,...,Move_w/oP,202208.0,202208.0,448265.0,44826501.0,2022-06-30,2023-06-29,1.0,1,0.985626
96702,202209.0,2022-09-01,2022-09-30,448802,44880201,HI,33,F,A,Celeste Plus,...,Move_w/oP,202208.0,202208.0,448802.0,44880201.0,2022-07-31,2023-07-30,1.0,1,0.985626

In [67]:
a, b, c, d = df_ExpT['Exposure'].sum(), df_ExpT['Exposure'].mean(), df_ExpT['Exposure'].min(), df_ExpT['Exposure'].max()
a, b, c, d

(5950319.474332647, 0.9323304619354452, 0.0, 1.0184804928131417)

In [68]:
df_ExpT.loc[df_ExpT['TypePaid'] == 'Inforce', 'Mult'] = 1
df_ExpT.loc[df_ExpT['TypePaid'] != 'Inforce', 'Mult'] = 0

In [69]:
df_ExpT['Exp_F'] = df_ExpT['Mult'] * df_ExpT['Exposure']

In [70]:
a, b, c, d = df_ExpT['Exp_F'].sum(), df_ExpT['Exp_F'].mean(), df_ExpT['Exp_F'].min(), df_ExpT['Exp_F'].max()
a, b, c, d

(5927583.967145795, 0.9287681312052715, 0.0, 1.0184804928131417)

In [71]:
#df_ExpT = df_ExpT.reset_index()
#df_ExpT.to_csv('D:\RODRIY21\A_DB\DB_Usuarios\DB_Exposure\Results_202211\Exp_2017-202209.txt', sep = ';', encoding = 'utf-8', index = False)